<div class="page-wrapper">
  <div class="page-contents">
    <mat-card class="about-wrapper">
      <mat-card-title>{{'MAIN.WHAT_IT_DOES' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'MAIN.SUBTITLE' | translate}}</mat-card-subtitle>
      <mat-card-content>
        <ol>
          <li>{{'MAIN.1' | translate}}</li>
          <li>{{'MAIN.2' | translate}}</li>
          <li>{{'MAIN.3' | translate}}</li>
          <li>{{'MAIN.4' | translate}}</li>
          <li>{{'MAIN.5' | translate}}</li>
          <li>{{'MAIN.6' | translate}}</li>
        </ol>
      </mat-card-content>
    </mat-card>
    <app-registration-form style="opacity: .8"></app-registration-form>
  </div>
</div>

