.page-wrapper {
  width: 100%;
  height: calc(100% - 52px);
  background-image: url('https://picsum.photos/1920/1080');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-contents {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  display: flex;
  height: calc(100% - 16px);
  align-items: center;
}
