@import "src/styles/vars";

.page-wrapper {
  width: 100%;
  height: calc(100% - 52px);
  background-image: url('https://picsum.photos/1920/1080');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-contents {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  display: flex;
  height: calc(100% - 16px);
  align-items: center;
}

.about-wrapper {
  margin-right: 8px;
  opacity: .8;
  min-height: 315px;
}

@include m {
  .page-contents {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }

  .about-wrapper {
    margin-right: 0;
    opacity: .8;
    margin-top: 8px;
  }
}
