@import "src/styles/vars";

.page-wrapper {
  width: 100%;
  min-height: calc(100% - 52px);
  background-image: url('https://picsum.photos/1920/1080');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.page-contents {
  position: absolute;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  display: flex;
  height: calc(100% - 16px);
  align-items: center;
}

.about-wrapper {
  margin-right: 8px;
  opacity: .8;
  min-height: 315px;
}

.scroll-link {
  display: none;
}

@include m {
  .page-wrapper {
    padding-top: 8px;
  }

  .about-wrapper {
    opacity: .8;
    margin: 8px 0 8px;
  }

  .page-contents {
    flex-direction: column-reverse;
    justify-content: flex-end;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 8px;
    width: calc(100% - 16px);
  }

  app-registration-form {
    width: 100%;
  }
}
