@import "src/styles/vars";

.docs-navbar-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;
}

.nav-item {
  margin-left: 8px;

  &.active {
    background-color: rgba(0,0,0,.04);
  }
}

.user-block, .dev-mode {
  display: flex;
  align-items: center;
}

.dev-mode {
  color: red;
  font-weight: bold;

  span {
    margin-right: 8px;
  }

  .mobile {
    display: none;
  }
}

.main-menu {
  position: relative;

  .mobile {
    display: none;
  }
}

@include m {
  .dev-mode {
    span {
      display: none;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
    }
  }

  .main-menu {
    .mobile {
      display: block;
    }

    .desktop {
      display: none;
    }
  }
}
