<header class="mat-elevation-z6">
  <nav class="docs-navbar-header">
    <div class="nav-block">
      <div *ngIf="user$ | async as user; else guestTpl">
        <div>
          <button mat-button routerLink="dashboard" class="nav-item"
                  routerLinkActive="active">{{'MAIN.DASHBOARD' | translate}}</button>
          <button mat-button routerLink="word" class="nav-item"
                  routerLinkActive="active">{{'MAIN.WORDS' | translate}}</button>
          <button mat-button routerLink="exercise" class="nav-item"
                  routerLinkActive="active">{{'MAIN.EXERCISE' | translate}}</button>
        </div>
      </div>
      <ng-template #guestTpl>
        <div>
          <button mat-button routerLink="/" class="nav-item">The New Word</button>
        </div>
      </ng-template>
    </div>
    <div class="user-block">
      <div>
        <label class="dev-mode" *ngIf="isDevMode()" style="margin-right: 8px;">
          <span>{{'MAIN.DEV_MODE' | translate}}</span>
          <mat-icon [matTooltip]="'MAIN.DEV_MODE_TOOLTIP' | translate">info_outlined</mat-icon>
        </label>
      </div>
      <div *ngIf="user$ | async as user; else guestTpl2">
        <div>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
            <span style="margin-left: 8px;">{{user.login}}</span>
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="user-settings">
              <mat-icon>settings</mat-icon>
              <span>{{'MAIN.SETTINGS' | translate}}</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>{{'MAIN.LOG_OUT' | translate}}</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <ng-template #guestTpl2>
        <div>
          <!--          <button mat-button routerLink="register">{{'MAIN.REGISTER' | translate}}</button>-->
          <button mat-stroked-button routerLink="login">{{'MAIN.LOGIN' | translate}}</button>
        </div>
      </ng-template>
    </div>
  </nav>
</header>
