<ng-container *ngIf="!isExercising; else exercise">
  <mat-card style="margin: 8px">
    <form [formGroup]="filterFormGroup" (ngSubmit)="filterFormSubmit()">
      <div style="display:flex; align-items: center">
        <div>
          <button [disabled]="startButtonDisabled" mat-flat-button color="warn" type="submit">{{'EXERCISE.START' | translate}}</button>
        </div>
        <mat-form-field style="margin-left: 8px">
          <mat-select [placeholder]="'EXERCISE.LANGUAGE' | translate" formControlName="language">
            <mat-option *ngFor="let language of learningLanguages"
                        [value]="language.id">{{language.nativeName}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="margin-left: 8px">
          <mat-select [placeholder]="'EXERCISE.WORD_SET' | translate" multiple formControlName="wordset"
                      [matTooltip]="getWordSetTooltip()">
            <mat-optgroup *ngFor="let displayedWordset of displayedWordsets"
                          [label]="displayedWordset.language.nativeName">
              <mat-option *ngFor="let wordset of displayedWordset.wordsets"
                          [value]="wordset.id">{{wordset.name}}</mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
        <div style="display: flex; flex-direction: column; width: 200px; margin-left: 8px">
          <mat-label style="margin-left: 8px;">{{'EXERCISE.UNLEARNED_THRESHOLD' | translate}}</mat-label>
          <mat-slider [min]="0" [max]="100" [step]="1" formControlName="threshold"></mat-slider>
        </div>
        <mat-form-field style="margin-left: 8px">
          <input matInput type="number" [placeholder]="'EXERCISE.LIMIT' | translate" formControlName="limit">
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox formControlName="askGender">{{'EXERCISE.ASK_GENDER' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="askForms"
                      style="margin-left: 8px;">{{'EXERCISE.ASK_FORMS' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="askStress"
                      style="margin-left: 8px;">{{'EXERCISE.ASK_STRESS' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="typoMode"
                      style="margin-left: 8px;">{{'EXERCISE.TYPO_MODE' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="allowLearn"
                      style="margin-left: 8px;">{{'EXERCISE.ALLOW_LEARN' | translate}}</mat-checkbox>
      </div>
    </form>
  </mat-card>

  <div style="display: flex; justify-content: center" *ngIf="isLoading">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>

  <div style="margin: 0 8px">
    <app-word-list [words]="words" [readonly]="true" [hideWordColumn]="!filterFormGroup.value.allowLearn" *ngIf="!isLoading"></app-word-list>
  </div>
</ng-container>
<ng-template #exercise>
  <mat-card style="margin: 8px">
    <div style="display:flex;">
      <div style="width: 500px;">
        <div style="display: flex; justify-content: space-between">
          <form [formGroup]="exerciseFormGroup" (ngSubmit)="exerciseFormSubmit()">
            <mat-form-field>
              <input matInput [placeholder]="'EXERCISE.WORD' | translate" formControlName="word" autofocus (focusin)="symbolsDisabled = false" (focusout)="symbolsDisabled = true" #wordControl>
            </mat-form-field>
            <button style="margin-left: 8px;" mat-flat-button color="primary" type="submit" [disabled]="!wordToAsk">{{'EXERCISE.OK' | translate}}</button>
            <button style="margin-left: 8px;" mat-button type="button" (click)="exerciseFormSubmit(true)" [disabled]="!wordToAsk">{{'EXERCISE.SKIP' | translate}}</button>
          </form>
        </div>

        <p style="margin-top: 8px; border-top: 1px solid lightgray; padding-top: 8px;" *ngIf="wordToAsk">{{'EXERCISE.TRANSLATION'  | translate}}: {{wordToAsk?.translations.join(', ')}}<span *ngIf="!wordToAsk">...</span></p>
        <p style="margin-top: 8px" *ngIf="!wordToAsk && isAnythingToRecall()">{{'EXERCISE.PRESS_TO_FIX' | translate}}</p>
        <p style="margin-top: 8px" *ngIf="!wordToAsk && !isAnythingToRecall()">{{'EXERCISE.FINISHED' | translate}}</p>
      </div>
      <div style="margin-left: 8px;">
        <app-symbols [language]="language" (symbol)="setSymbol($event)" [disabled]="symbolsDisabled"></app-symbols>
      </div>
    </div>
  </mat-card>
  <mat-card style="margin: 8px">
      <mat-selection-list [multiple]="false" (selectionChange)="listSelection($event)">
        <div mat-subheader *ngIf="rightWords.length">{{'EXERCISE.RIGHT' | translate}}</div>
        <mat-list-option [value]="word.you.dbid" *ngFor="let word of rightWords">
          <mat-icon mat-list-icon style="color: green">check</mat-icon>
          <div mat-line>{{word.vault.word}}</div>
          <div mat-line>{{word.vault.translations.join(', ')}}</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <div mat-subheader *ngIf="wrongWords.length">{{'EXERCISE.WRONG' | translate}}</div>
        <mat-list-option [value]="word" *ngFor="let word of wrongWords">
          <mat-icon mat-list-icon style="color: red">clear</mat-icon>
          <div mat-line>
            <span [innerHTML]="word.formattedString"></span>
            <span style="display:inline-block; margin-left: 8px; color: gray; font-style: italic; font-size: smaller">
              <span>{{getErrorText(word.errQuantity) | async}}</span>
              <span *ngIf="word.errQuantity <= 2">. {{'EXERCISE.CAN_BE_TYPO' | translate}}</span>
            </span>
          </div>
          <div mat-line>{{word.vault.word}}</div>
          <div mat-line>{{word.vault.translations.join(', ')}}</div>
        </mat-list-option>
        <mat-divider></mat-divider>
        <div mat-subheader *ngIf="skippedWords.length">{{'EXERCISE.SKIPPED' | translate}}</div>
        <mat-list-option [value]="word" *ngFor="let word of skippedWords">
          <mat-icon mat-list-icon style="color: gray">call_missed_outgoing</mat-icon>
          <div mat-line>{{word.vault.translations.join(', ')}}</div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
</ng-template>

