<ng-container *ngIf="!isExercising; else exercise">
  <mat-card style="margin: 8px">
    <form [formGroup]="filterFormGroup" (ngSubmit)="filterFormSubmit()">
      <div class="filter-actions-wrapper">
        <div class="action-button-wrapper">
          <div class="action-button">
            <div>
              <button [disabled]="startButtonDisabled || true" mat-flat-button color="primary"
                      type="submit">{{'EXERCISE.START_PRACTICE' | translate}}</button>
            </div>
            <div>{{'EXERCISE.START_PRACTICE_DESC' | translate}}</div>
          </div>
          <div class="action-button">
            <div>
              <button [disabled]="startButtonDisabled" mat-flat-button color="warn"
                      type="submit">{{'EXERCISE.START_EXAM' | translate}}</button>
            </div>
            <div>{{'EXERCISE.START_EXAM_DESC' | translate}}</div>
          </div>
        </div>
        <div class="filter-block" style="display:flex; align-items: center">
          <mat-form-field>
            <mat-select [placeholder]="'EXERCISE.LANGUAGE' | translate" formControlName="language">
              <mat-option *ngFor="let language of learningLanguages"
                          [value]="language.id">{{language.nativeName}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select [placeholder]="'EXERCISE.WORD_SET' | translate" multiple formControlName="wordset"
                        [matTooltip]="getWordSetTooltip()">
              <mat-optgroup *ngFor="let displayedWordset of displayedWordsets"
                            [label]="displayedWordset.language.nativeName">
                <mat-option *ngFor="let wordset of displayedWordset.wordsets"
                            [value]="wordset.id">{{wordset.name}}</mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" [placeholder]="'EXERCISE.LIMIT' | translate" formControlName="limit">
          </mat-form-field>
        </div>
      </div>
      <div class="additional-options-wrapper">
        <mat-checkbox style="display: none" formControlName="askGender">{{'EXERCISE.ASK_GENDER' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="askForms"
                      style="margin-left: 8px; display: none">{{'EXERCISE.ASK_FORMS' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="askStress"
                      style="margin-left: 8px; display: none">{{'EXERCISE.ASK_STRESS' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="typoMode"
                      style="margin-left: 8px; display: none">{{'EXERCISE.TYPO_MODE' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="allowLearn">{{'EXERCISE.ALLOW_LEARN' | translate}}</mat-checkbox>
      </div>
    </form>
  </mat-card>

  <div style="display: flex; justify-content: center" *ngIf="isLoading">
    <mat-spinner [diameter]="50" color="primary"></mat-spinner>
  </div>

  <div style="margin: 0 8px">
    <app-word-list [words]="words"
                   [readonly]="true"
                   [hideWordColumn]="!filterFormGroup.value.allowLearn"
                   [hideThresholdColumn]="false"
                   *ngIf="!isLoading">
    </app-word-list>
  </div>
</ng-container>
<ng-template #exercise>
  <mat-card style="margin: 8px">
    <div style="display:flex;">
      <div style="width: 500px;">
        <div style="display: flex; justify-content: space-between">
          <form [formGroup]="exerciseFormGroup" (ngSubmit)="exerciseFormSubmit()">
            <mat-form-field>
              <input matInput autocomplete="off" [placeholder]="wordToAsk?.translations.join(', ')" formControlName="word"
                     autofocus (focusin)="symbolsDisabled = false" (focusout)="symbolsDisabled = true" #wordControl>
            </mat-form-field>
            <div>
              <button mat-flat-button color="primary" type="submit"
                      [disabled]="!wordToAsk">{{'EXERCISE.OK' | translate}}</button>
              <button style="margin-left: 8px;" mat-button type="button" (click)="exerciseFormSubmit(true)"
                      [disabled]="!wordToAsk">{{'EXERCISE.SKIP' | translate}}</button>
            </div>
          </form>
        </div>

        <p style="margin-top: 8px; border-top: 1px solid lightgray; padding-top: 8px;"
           *ngIf="wordToAsk">{{'EXERCISE.TRANSLATION'  | translate}}: {{wordToAsk?.translations.join(', ')}}<span
          *ngIf="!wordToAsk">...</span></p>
        <p style="margin-top: 8px"
           *ngIf="!wordToAsk && isAnythingToRecall()">{{'EXERCISE.PRESS_TO_FIX' | translate}}</p>
        <p style="margin-top: 8px" *ngIf="!wordToAsk && !isAnythingToRecall()">{{'EXERCISE.FINISHED' | translate}}</p>
      </div>
      <div style="margin-left: 8px;" class="desktop-m">
        <app-symbols [language]="language" (symbol)="setSymbol($event)" [disabled]="symbolsDisabled"></app-symbols>
      </div>
    </div>
  </mat-card>
  <mat-card style="margin: 8px">
    <mat-selection-list [multiple]="false" (selectionChange)="listSelection($event)">
      <div mat-subheader *ngIf="answeredWords.length">{{'EXERCISE.ANSWERED' | translate}}</div>
      <ng-container *ngFor="let word of answeredWords.reverse()">
        <mat-list-option [value]="word.you.dbid" *ngIf="word.isRight">
          <mat-icon mat-list-icon style="color: green">check</mat-icon>
          <div mat-line>{{word.vault.word}}</div>
          <div mat-line>{{word.vault.translations.join(', ')}}</div>
        </mat-list-option>
        <mat-list-option [value]="word" *ngIf="word.status ==='wrong'">
          <mat-icon mat-list-icon style="color: red">clear</mat-icon>
          <div mat-line><span style="color: gray">{{'EXERCISE.CORRECT' | translate}}</span>: {{word.vault.word}}</div>
          <hr>
          <div mat-line><span style="color: gray">{{'EXERCISE.YOU_ANSWERED' | translate}}</span>: {{word.you.word}}
          </div>
          <div mat-line style="display: flex; align-items: center">
            <span style="color: gray">{{'EXERCISE.DIFF' | translate}}: </span>
            <span [innerHTML]="word.formattedString"></span>
            <mat-icon matSuffix [matTooltip]="'EXERCISE.EXPLAIN' | translate" style="margin-left: 8px;">info_outlined
            </mat-icon>
            <span style="display:inline-block; margin-left: 8px; color: gray; font-style: italic; font-size: smaller">
              <span>{{getErrorText(word.errQuantity) | async}}</span>
              <span *ngIf="word.errQuantity <= 2">. {{'EXERCISE.CAN_BE_TYPO' | translate}}</span>
            </span>
          </div>
          <div mat-line>{{word.vault.translations.join(', ')}}</div>
        </mat-list-option>
        <mat-list-option [value]="word" *ngIf="word.status ==='skipped'">
          <mat-icon mat-list-icon style="color: gray">call_missed_outgoing</mat-icon>
          <div mat-line>{{word.vault.translations.join(', ')}}</div>
        </mat-list-option>
      </ng-container>
    </mat-selection-list>
  </mat-card>
</ng-template>
