@import "src/styles/vars";

.fields-wrapper {
  display: flex;
}

.fields-wrapper-2 {
  margin-left: 8px;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

@include m {
  .fields-wrapper {
    flex-direction: column;
  }

  .fields-wrapper-1 {
    mat-form-field {
      width: 100%;
    }
  }

  .fields-wrapper-2 {
    margin-left: 0;

    mat-form-field {
      width: 100%;
    }
  }

  .buttons-wrapper {
    flex-direction: column;
  }
}
