<mat-card class="wrapper">
  <h2 style="margin-right: 8px;">{{'REGISTRATION.FORM_HEADER' | translate}}</h2>
  <form [formGroup]="formGroup" (ngSubmit)="submit(form)" #form="ngForm">
    <div style="display:flex;">
      <div>
        <div style="margin-bottom: 26px;">
          <mat-form-field>
            <input matInput formControlName="login" [placeholder]="'REGISTRATION.FIELDS.LOGIN.PLACEHOLDER' | translate">
            <mat-icon matSuffix [matTooltip]="'REGISTRATION.FIELDS.LOGIN.TOOLTIP' | translate">
              info_outlined
            </mat-icon>
            <mat-error *ngIf="formGroup?.controls?.login?.hasError('minlength')">
              {{'REGISTRATION.FIELDS.LOGIN.ERROR1' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup?.controls?.login?.hasError('pattern')">
              {{'REGISTRATION.FIELDS.LOGIN.ERROR2' | translate}}
            </mat-error>
            <mat-error *ngIf="formGroup?.controls?.login?.hasError('http')">
              {{'REGISTRATION.FIELDS.LOGIN.ERROR3' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div style="margin-bottom: 16px;">
          <mat-form-field>
            <input matInput type="password" formControlName="password" [placeholder]="'REGISTRATION.FIELDS.PASSWORD.PLACEHOLDER' | translate">
            <mat-error *ngIf="formGroup?.controls?.password?.hasError('minlength')">
              {{'REGISTRATION.FIELDS.PASSWORD.ERROR1' | translate}}
            </mat-error>
          </mat-form-field>
        </div>

        <div style="margin-bottom: 16px;">
          <mat-form-field>
            <input matInput type="password" formControlName="passwordRepeat" [placeholder]="'REGISTRATION.FIELDS.PASSWORD_REPEAT.PLACEHOLDER' | translate">
            <mat-error *ngIf="formGroup?.controls?.passwordRepeat?.hasError('notequal')">
              {{'REGISTRATION.FIELDS.PASSWORD_REPEAT.ERROR1' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div style="margin-left: 8px;">
        <div style="margin-bottom: 26px;">
          <mat-form-field>
            <input matInput formControlName="email" [placeholder]="'REGISTRATION.FIELDS.EMAIL.PLACEHOLDER' | translate">
            <mat-icon matSuffix [matTooltip]="'REGISTRATION.FIELDS.EMAIL.TOOLTIP' | translate">
              info_outlined
            </mat-icon>
            <mat-error *ngIf="formGroup?.controls?.email?.hasError('email')">
              {{'REGISTRATION.FIELDS.EMAIL.ERROR1' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 16px;">
          <mat-form-field>
            <mat-select formControlName="nativeLanguages" [placeholder]="'REGISTRATION.FIELDS.NATIVE_LANGUAGE.PLACEHOLDER' | translate" multiple>
              <mat-optgroup [label]="'REGISTRATION.FIELDS.NATIVE_LANGUAGE.RECOMMENDED_LANGUAGES' | translate">
                <mat-option *ngFor="let lang of recommendedLanguages" [value]="lang.id">{{lang.nativeName}}</mat-option>
              </mat-optgroup>
              <mat-optgroup [label]="'REGISTRATION.FIELDS.NATIVE_LANGUAGE.OTHER_LANGUAGES' | translate">
                <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.nativeName}}</mat-option>
              </mat-optgroup>
            </mat-select>
            <mat-icon matSuffix [matTooltip]="'REGISTRATION.FIELDS.NATIVE_LANGUAGE.TOOLTIP' | translate">
              info_outlined
            </mat-icon>
            <mat-error *ngIf="formGroup?.controls?.nativeLanguage?.hasError('required')">
              {{'REGISTRATION.FIELDS.NATIVE_LANGUAGE.ERROR1' | translate}}
            </mat-error>
          </mat-form-field>
        </div>
        <div style="margin-bottom: 16px;">
          <mat-form-field>
            <mat-select formControlName="learningLanguages" [placeholder]="'REGISTRATION.FIELDS.LEARNING_LANGUAGES.PLACEHOLDER' | translate"
                        multiple
                        [matTooltip]="getLanguagesValue(formGroup.controls.learningLanguages.value).join(', ')">
              <mat-option *ngFor="let lang of languages" [value]="lang.id">{{lang.nativeName}}</mat-option>
            </mat-select>
            <mat-icon matSuffix [matTooltip]="'REGISTRATION.FIELDS.LEARNING_LANGUAGES.TOOLTIP' | translate">
              info_outlined
            </mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div style="display:flex; justify-content: space-between">
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
        <span *ngIf="!isLoading">{{'REGISTRATION.REGISTER' | translate}}</span>
        <mat-spinner *ngIf="isLoading" [diameter]="20" color="accent"></mat-spinner>
      </button>
      <div>
        <label>{{'REGISTRATION.ALREADY_REGISTERED' | translate}}</label>
        <button mat-button color="primary" routerLink="/login">{{'REGISTRATION.GOTO_LOGIN' | translate}}</button>
      </div>
    </div>
  </form>
</mat-card>
