<mat-card style="margin: 8px">
  <form [formGroup]="filterFormGroup">
    <div style="display:flex; justify-content: space-between">
      <div style="display: flex; align-items: center">
        <button mat-flat-button (click)="openNewWordSetModal()"
                color="primary">{{'WORDS.NEW_WORDSET' | translate}}</button>
        <mat-form-field style="margin-left: 8px;">
          <mat-select [placeholder]="'WORDS.LANGUAGE' | translate" formControlName="foreignLanguage">
            <mat-option *ngFor="let l of learningLanguages" [value]="l.id" [style.direction.rtl]="l.rtl">
              {{l.nativeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field style="margin-left: 8px;" *ngIf="showUserSearch">
          <input matInput type="text" [placeholder]="'WORDS.SEARCH_BY_USER' | translate" formControlName="searchByUser">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field style="margin-left: 8px;">
          <input matInput type="text" [placeholder]="'WORDS.SEARCH' | translate" formControlName="searchByName">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div>
      <mat-slide-toggle (change)="poolChange($event)"
                        formControlName="showPool">{{'WORDS.SHOW_POOL' | translate}}</mat-slide-toggle>
    </div>
  </form>
</mat-card>
<div style="margin: 0 8px;">
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let wordset of wordsets" (opened)="wordsetOpened(wordset)">
      <mat-expansion-panel-header style="display:flex; justify-content: space-between; align-items: center">
        <mat-panel-title style="display:flex; justify-content: flex-start; align-items: center">
          <div>
            {{wordset.name}}
          </div>
        </mat-panel-title>
        <mat-panel-description style="display:flex; justify-content: flex-end; align-items: center">
          <div style="display:flex; justify-content:space-between; align-items: center">
            <div style="display: flex; align-items: center; margin-left: 16px; color: gray;">
              <div style="margin: 0 8px;"
                   [matTooltip]="wordset.foreignLanguage.nativeName">{{wordset.foreignLanguage.iso2.toUpperCase()}}</div>
              <mat-icon style="transform: scale(.75)">arrow_forward</mat-icon>
              <div style="margin: 0 8px;"
                   [matTooltip]="wordset.nativeLanguage.nativeName">{{wordset.nativeLanguage.iso2.toUpperCase()}}</div>
            </div>
            <mat-divider [vertical]="true" style="height: 26px; margin-left: 16px; margin-right: 8px;"></mat-divider>
            <button mat-mini-fab type="button" (click)="exercise($event, wordset)" color="primary"
                    style="margin: 8px; height: 30px; width: 30px; display:flex; justify-content: center; align-items: center;"
                    [matTooltip]="'WORDS.EXERCISE_THIS' | translate">
              <mat-icon>school</mat-icon>
            </button>
            <button mat-mini-fab type="button" (click)="openEditWordSetModal($event, wordset)" color="primary"
                    style="margin: 8px; height: 30px; width: 30px; display:flex; justify-content: center; align-items: center;"
                    [matTooltip]="'WORDS.EDIT' | translate">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab type="button" (click)="openDeleteWordSetModal($event, wordset)" color="warn"
                    style="margin: 8px; height: 30px; width: 30px; display:flex; justify-content: center; align-items: center;"
                    [matTooltip]="'WORDS.DELETE' | translate">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-word-list [words]="loadedWords[wordset.id]" [wordset]="wordset"></app-word-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
