<mat-card style="margin: 8px; display:flex; justify-content: space-between">
  <div style="display: flex; align-items: center">
    <button mat-flat-button (click)="openNewWordSetModal()" color="primary">{{'WORDS.NEW_WORDSET' | translate}}</button>
    <mat-form-field style="margin-left: 8px;">
      <mat-select [placeholder]="'WORDS.LANGUAGE' | translate">
        <mat-option *ngFor="let l of learningLanguages" [value]="l.id" [style.direction.rtl]="l.rtl">
          {{l.nativeName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field style="margin-left: 8px;">
      <input matInput type="text" [placeholder]="'WORDS.SEARCH' | translate">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</mat-card>
<div style="margin: 0 8px;">
  <mat-accordion multi>
    <mat-expansion-panel *ngFor="let wordset of wordsets" (opened)="wordsetOpened(wordset)">
      <mat-expansion-panel-header style="display:flex; justify-content: space-between; align-items: center">
        <mat-panel-title style="display:flex; justify-content: space-between; align-items: center">
          {{wordset.name}}
        </mat-panel-title>
        <mat-panel-description style="display:flex; justify-content:space-between; align-items: center">
          {{wordset.translatedlanguage.nativeName}}
          <div style="display:flex; justify-content:space-between; align-items: center">
            <button mat-mini-fab type="button" (click)="exercise($event, wordset)" color="primary" style="margin: 8px; height: 30px; width: 30px; display:flex; justify-content: center; align-items: center;" [matTooltip]="'WORDS.EXERCISE_THIS' | translate">
              <mat-icon>school</mat-icon>
            </button>
            <button mat-mini-fab type="button" (click)="openEditWordSetModal($event, wordset)" color="primary" style="margin: 8px; height: 30px; width: 30px; display:flex; justify-content: center; align-items: center;" [matTooltip]="'WORDS.EDIT' | translate">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab type="button" (click)="openDeleteWordSetModal($event, wordset)" color="warn" style="margin: 8px; height: 30px; width: 30px; display:flex; justify-content: center; align-items: center;" [matTooltip]="'WORDS.DELETE' | translate">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-word-list [words]="loadedWords[wordset.id]" [wordset]="wordset"></app-word-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>
