@import "src/variables";

.background {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at center, $primary-color 0%, #000000 100%);
  position: relative;
  overflow: hidden;
}

.form-wrapper, .welcome-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  transition: 1s left cubic-bezier(.76,-0.35,.18,1.32);
}


.form-wrapper {
  z-index: 2;
  width: 500px;

  &.hidden {
    left: 200%;

    &.register {
      left: -200%;
    }
  }

  @include mobile-breakpoint {
    width: 100%;
    padding: 20px;
  }
}

.welcome-wrapper {
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);

  @include mobile-breakpoint {
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
  }
}
