@import "src/styles/vars";

.general-wrapper {
  height: calc(100% - 52px);
  display: flex;
  background-image: url('https://picsum.photos/1920/1080');
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  margin: auto;
}

.buttons-wrapper {
  display: flex;

  .line-2 {
    display:flex;
    align-items: center;
    margin-left: 32px;
  }
}

@include m {
  .buttons-wrapper {
    flex-direction: column;

    .line-2 {
      margin-top: 12px;
      margin-left: 0;
    }
  }
}
