.general-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 0 100px;
  height: calc(100% - 52px);
  background-image: url('https://picsum.photos/1920/1080');
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  margin: auto;
}
