<div class="form-wrapper">
  <mat-card style="margin: auto; width: 320px">
    <h2 matCardTitle>Password restore</h2>
    <div matCardContent>
      <p>
        Automatic password restore is planned to implement in the future. If you would like to restore it now, please write me an email. The sender should be a registered email in the system.
      </p>
      <p><strong>Email:</strong> benzin.a95@list.ru</p>
      <p style="margin-bottom: 0;"><strong>Subject:</strong> Password restore</p>
      <p style="font-size: smaller; color: gray">Provide exact this subject, otherwise your email will go to junk</p>
      <p><strong>Body:</strong> Write a few words</p>
    </div>
  </mat-card>
</div>
