<div>
  <form [formGroup]="formGroup" (ngSubmit)="saveWord()">
    <div style="display: flex; justify-content: space-between; align-items: center">
      <h2 mat-dialog-title style="margin-bottom: 0;">{{(isEditing ? 'MODAL_WORD.HEADER_MODIFY' : 'MODAL_WORD.HEADER_ADD') | translate}}</h2>

      <div style="display:flex; justify-content: flex-end; align-items: center">
        <button mat-mini-fab type="button" color="primary" disabled>{{foreignLanguage.iso2.toUpperCase()}}</button>
        <mat-icon style="margin: 0 8px; color: gray">arrow_forward</mat-icon>
        <button mat-mini-fab type="button" color="primary" disabled>{{nativeLanguage.iso2.toUpperCase()}}</button>
      </div>
    </div>
    <mat-divider style="margin: 8px 0;"></mat-divider>

    <div>
      <div class="desktop-m">
        <p *ngIf="!isKeymapperAvailable" style="display: flex; align-items: center;">
          <span>{{'MODAL_WORD.KEYMAPPER_NA' | translate : {language: nativeLanguage.nativeName} }}</span>
          <mat-icon matSuffix [matTooltip]="'MODAL_WORD.KEYMAPPER_ABOUT' | translate">
            info_outlined
          </mat-icon>
        </p>
        <ng-container *ngIf="isKeymapperAvailable && isKeymapperOn">
          <p style="display:flex; align-items: center;">
            <span>{{'MODAL_WORD.KEYMAPPER_ON' | translate}}</span>
            <mat-icon matSuffix [matTooltip]="'MODAL_WORD.KEYMAPPER_ABOUT' | translate" style="margin-left: 8px;">
              info_outlined
            </mat-icon>
          </p>
          <div>
            <a href="javascript:void(0)" (click)="setKeymapper(false)">{{'MODAL_WORD.KEYMAPPER_ACTION_OFF' | translate}}</a>
          </div>
        </ng-container>
        <ng-container *ngIf="isKeymapperAvailable && !isKeymapperOn">
          <p style="display:flex; align-items: center;">
            <span>{{'MODAL_WORD.KEYMAPPER_OFF' | translate}}</span>
            <mat-icon matSuffix [matTooltip]="'MODAL_WORD.KEYMAPPER_ABOUT' | translate" style="margin-left: 8px;">
              info_outlined
            </mat-icon>
          </p>
          <div>
            <a href="javascript:void(0)" (click)="setKeymapper(true)">{{'MODAL_WORD.KEYMAPPER_ACTION_ON' | translate}}</a>
          </div>
        </ng-container>
      </div>
      <mat-form-field>
        <input matInput [placeholder]="'MODAL_WORD.WORD' | translate" formControlName="word" #wordControl (focusin)="symbolsDisabled = false" (focusout)="wordFocusOut()">
      </mat-form-field>
      <mat-form-field class="form-element">
        <input matInput [placeholder]="'MODAL_WORD.TRANSLATIONS' | translate" formControlName="translations" #translationsControl [matAutocomplete]="auto" (keydown)="onTranslationKeyDown($event)">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="wordSelected($event)">
          <mat-option *ngFor="let option of translationsAutocomplete" [value]="option">
            <span style="font-weight: bold; font-style: italic" *ngIf="option.speechPart">{{'SPEECH_PARTS.' + option.speechPart.englishName.toUpperCase() | translate}}: </span>
            {{option.translations.join(', ')}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-icon style="color: green" *ngIf="selectedWord">fiber_manual_record</mat-icon>
      <mat-divider style="margin: 0 0 8px 0"></mat-divider>
      <app-symbols [language]="foreignLanguage" (symbol)="setSymbol($event)" [disabled]="symbolsDisabled" class="desktop-m"></app-symbols>

      <div style="margin: 8px 0; word-break: break-word; width: 100%;">
        <mat-checkbox formControlName="dontClose" color="primary">{{'MODAL_WORD.NOT_CLOSE' | translate}}</mat-checkbox>
      </div>
      <div style="display: flex">
        <button mat-flat-button
                type="submit"
                color="primary"
                [disabled]="actionDisabled || isLoading">
          <mat-spinner *ngIf="isLoading" [diameter]="20" color="accent"></mat-spinner>
          <span *ngIf="!isLoading">{{(isEditing ? 'MODAL_WORD.SUBMIT_MODIFY' : 'MODAL_WORD.SUBMIT_ADD') | translate}}</span>
        </button>
        <button mat-button type="button" mat-dialog-close [disabled]="isLoading">{{'MODAL_WORD.CANCEL' | translate}}</button>
        <button mat-icon-button type="button" style="margin-left: auto;" (click)="isShownMore = !isShownMore" [disabled]="isLoading">
          <mat-icon matSuffix>
            arrow_downward
          </mat-icon>
        </button>
      </div>
    </div>

    <div *ngIf="isShownMore">
      <div style="font-family: monospace; margin-top: 8px;">
        <span style="margin-right: 8px">{{'MODAL_WORD.STRESS_LETTER' | translate}}:</span>
        <span *ngFor="let letter of getWordSpelling(); index as i" class="spell-letter" (click)="setStressLetter(i)">
          <span *ngIf="i !== stressLetterIndex">{{letter}}</span>
          <span *ngIf="i === stressLetterIndex">{{letter}}&#769;</span>
        </span>
      </div>

      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.TRANSCRIPTION' | translate" formControlName="transcription">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select [placeholder]="'MODAL_WORD.SPEECH_PART' | translate" formControlName="speechPart">
            <mat-option *ngFor="let sp of wordMetadata.speechParts" [value]="sp.id">
              {{"SPEECH_PARTS." + sp.englishName.toUpperCase() | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-element">
          <mat-select [placeholder]="'MODAL_WORD.GENDER' | translate" formControlName="gender">
            <mat-option *ngFor="let g of wordMetadata.genders" [value]="g.id">
              {{"GENDERS." + g.englishName.toUpperCase() | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.FORMS' | translate" formControlName="forms">
        </mat-form-field>

        <mat-form-field class="form-element">
          <input matInput [placeholder]="'MODAL_WORD.REMARKS' | translate" formControlName="remarks">
        </mat-form-field>
      </div>
    </div>
  </form>
</div>
