<div>
  <form [formGroup]="formGroup">
    <h2 mat-dialog-title>{{(isEditing ? 'MODAL_WORD.HEADER_MODIFY' : 'MODAL_WORD.HEADER_ADD') | translate}}</h2>
    <div>
      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.WORD' | translate" formControlName="word">
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'MODAL_WORD.FROM_LANGUAGE' | translate" formControlName="foreignLanguage">
            <mat-option *ngFor="let l of learningLanguages" [value]="l.id">
              {{l.nativeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.TRANSLATIONS' | translate" formControlName="translations">
        </mat-form-field>
        <mat-form-field>
          <mat-select [placeholder]="'MODAL_WORD.TO_LANGUAGE' | translate" formControlName="nativeLanguage">
            <mat-option [value]="language.id" *ngFor="let language of nativeLanguages">
              {{language.nativeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="font-family: monospace">
        <span style="margin-right: 8px">{{'MODAL_WORD.STRESS_LETTER' | translate}}:</span>
        <span *ngFor="let letter of getWordSpelling(); index as i" class="spell-letter" (click)="setStressLetter(i)">
          <span *ngIf="i !== stressLetterIndex">{{letter}}</span>
          <span *ngIf="i === stressLetterIndex">{{letter}}&#769;</span>
        </span>
      </div>

      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.TRANSCRIPTION' | translate" formControlName="transcription">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select [placeholder]="'MODAL_WORD.SPEECH_PART' | translate" formControlName="speechPart">
            <mat-option *ngFor="let sp of wordMetadata.speechParts" [value]="sp.id">
              {{"SPEECH_PARTS." + sp.englishName.toUpperCase() | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select [placeholder]="'MODAL_WORD.GENDER' | translate" formControlName="gender">
            <mat-option *ngFor="let g of wordMetadata.genders" [value]="g.id">
              {{"GENDERS." + g.englishName.toUpperCase() | translate}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.FORMS' | translate" formControlName="forms">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput [placeholder]="'MODAL_WORD.REMARKS' | translate" formControlName="remarks">
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-flat-button (click)="saveWord()"
              color="primary">{{(isEditing ? 'MODAL_WORD.SUBMIT_MODIFY' : 'MODAL_WORD.SUBMIT_ADD') | translate}}</button>
      <button mat-button mat-dialog-close>{{'MODAL_WORD.CANCEL' | translate}}</button>
    </div>
  </form>
</div>
