<div>
  <h2 mat-dialog-title>{{isEditing ? 'Modify a word' : 'Add new word'}}</h2>
  <div>
    <form [formGroup]="formGroup">
      <div>
        <mat-form-field>
          <input matInput placeholder="Word" formControlName="word">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Language" formControlName="toLanguage">
            <mat-option *ngFor="let l of learningLanguages" [value]="l.id">
              {{l.nativeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Comma separated translations" formControlName="translations">
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Language" formControlName="fromLanguage">
            <mat-option [value]="nativeLanguage.id">
              {{nativeLanguage.nativeName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div style="font-family: monospace">
        <span style="margin-right: 8px">Stress letter:</span>
        <span *ngFor="let letter of getWordSpelling(); index as i" class="spell-letter" (click)="setStressLetter(i)">
          <span *ngIf="i !== stressLetterIndex">{{letter}}</span>
          <span *ngIf="i === stressLetterIndex">{{letter}}&#769;</span>
        </span>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Transcription" formControlName="transcription">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select placeholder="Speech part" formControlName="speechPart">
            <mat-option *ngFor="let sp of wordMetadata.speechParts" [value]="sp.id">
              {{sp.englishName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select placeholder="Gender" formControlName="gender">
            <mat-option *ngFor="let g of wordMetadata.genders" [value]="g.id">
              {{g.englishName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Forms" formControlName="forms">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <input matInput placeholder="Any remarks" formControlName="remarks">
        </mat-form-field>
      </div>
    </form>
  </div>
  <div>
    <button mat-flat-button (click)="saveWord()" color="primary">{{isEditing ? 'Modify' : 'Save'}}</button>
    <button mat-button mat-dialog-close>Discard</button>
  </div>
</div>
