<mat-card style="margin: 8px">
  <div style="display:flex;">
    <div style="width: 500px;">
      <div style="display: flex; justify-content: space-between">
        <form [formGroup]="exerciseFormGroup" (ngSubmit)="formSubmit()" class="exercise-form">
          <mat-form-field>
            <input matInput autocomplete="off" [placeholder]="wordToAsk?.translations.join(', ')"
                   formControlName="word"
                   autofocus (focusin)="symbolsDisabled = false" (focusout)="symbolsDisabled = true" #wordControl>
            <button mat-button matSuffix type="submit" mat-icon-button aria-label="OK">
              <mat-icon>check</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <p style="margin-top: 8px" *ngIf="!wordToAsk">
        {{'EXERCISE.FINISHED' | translate}}
      </p>
    </div>
    <div style="margin-left: 8px;" class="desktop-m">
      <app-symbols [language]="language" (symbol)="setSymbol($event)" [disabled]="symbolsDisabled"></app-symbols>
    </div>
  </div>
</mat-card>
<!--<mat-card style="margin: 8px">-->
<!--  <mat-selection-list [multiple]="false" (selectionChange)="listSelection($event)">-->
<!--    <div mat-subheader *ngIf="answeredWords.length" class="desktop-m">{{'EXERCISE.ANSWERED' | translate}}</div>-->
<!--    <ng-container *ngFor="let word of answeredWords.reverse()">-->
<!--      <mat-list-option [value]="word.you.dbid" *ngIf="word.isRight">-->
<!--        <mat-icon mat-list-icon style="color: green">check</mat-icon>-->
<!--        <div mat-line>{{word.vault.word}}</div>-->
<!--        <div mat-line>{{word.vault.translations.join(', ')}}</div>-->
<!--      </mat-list-option>-->
<!--      <mat-list-option [value]="word" *ngIf="word.status ==='wrong'">-->
<!--        <mat-icon mat-list-icon style="color: red">clear</mat-icon>-->
<!--        <div mat-line><span style="color: gray">{{'EXERCISE.CORRECT' | translate}}</span>: {{word.vault.word}}</div>-->
<!--        <hr>-->
<!--        <div mat-line><span style="color: gray">{{'EXERCISE.YOU_ANSWERED' | translate}}</span>: {{word.you.word}}-->
<!--        </div>-->
<!--        <div mat-line style="display: flex; align-items: center">-->
<!--          <span style="color: gray">{{'EXERCISE.DIFF' | translate}}: </span>-->
<!--          <span [innerHTML]="word.formattedString"></span>-->
<!--          <mat-icon matSuffix [matTooltip]="'EXERCISE.EXPLAIN' | translate" style="margin-left: 8px;">info_outlined-->
<!--          </mat-icon>-->
<!--          <span style="display:inline-block; margin-left: 8px; color: gray; font-style: italic; font-size: smaller">-->
<!--              <span>{{getErrorText(word.errQuantity) | async}}</span>-->
<!--              <span *ngIf="word.errQuantity <= 2">. {{'EXERCISE.CAN_BE_TYPO' | translate}}</span>-->
<!--            </span>-->
<!--        </div>-->
<!--        <div mat-line>{{word.vault.translations.join(', ')}}</div>-->
<!--      </mat-list-option>-->
<!--      <mat-list-option [value]="word" *ngIf="word.status ==='skipped'">-->
<!--        <mat-icon mat-list-icon style="color: gray">call_missed_outgoing</mat-icon>-->
<!--        <div mat-line>{{word.vault.translations.join(', ')}}</div>-->
<!--      </mat-list-option>-->
<!--    </ng-container>-->
<!--  </mat-selection-list>-->
<!--</mat-card>-->
