/* You can add global styles to this file, and also import other style files */
@import "styles/vars";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@include nm {
  .mobile-m {
    display: none !important;
  }
}

@include m {
  .desktop-m {
    display: none !important;
  }
}

@include ns {
  .mobile-s {
    display: none !important;
  }
}

@include s {
  .desktop-s {
    display: none !important;
  }
}
