<div>
  <mat-card *ngIf="!readonly">
    <button mat-flat-button type="button" color="primary" (click)="openNewWordModal($event)">
      {{'WORDS.NEW_WORD' | translate}}
    </button>
  </mat-card>
  <table mat-table [dataSource]="getDataSource()" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="word" *ngIf="hideWordColumn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'WORDS.WORD' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.word}} </td>
    </ng-container>

    <ng-container matColumnDef="translations">
      <th mat-header-cell *matHeaderCellDef>{{'WORDS.TRANSLATIONS' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.translations}} </td>
    </ng-container>

    <ng-container matColumnDef="from_language">
      <th mat-header-cell *matHeaderCellDef>{{'WORDS.LANGUAGE' | translate}}</th>
      <td mat-cell *matCellDef="let element"> {{element.originalLanguage.englishName}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'WORDS.GENDER' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.gender">{{'GENDERS.' + element.gender.englishName.toUpperCase() | translate}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="speech_part">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'WORDS.SPEECH_PART' | translate}}</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.speechPart">{{'SPEECH_PARTS.' + element.speechPart.englishName.toUpperCase() | translate}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions" *ngIf="!readonly">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <div style="display:flex; justify-content: flex-end">
          <button mat-icon-button (click)="openEditWordModal(element)" [matTooltip]="'WORDS.EDIT_WORD' | translate"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="openDeleteWordModal(element)" [matTooltip]="'WORDS.DELETE_WORD' | translate"><mat-icon>delete</mat-icon></button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
